.social .facebook{background:url(../img/social-icons/circular/facebook_32.png);}
.social .google{background:url(../img/social-icons/circular/google_32.png);}
.social .linkedin{background:url(../img/social-icons/circular/linkedin_32.png);}
.social .twitter{background:url(../img/social-icons/circular/twitter_32.png);}
.social .youtube{background:url(../img/social-icons/circular/youtube_32.png);}
.rounded .facebook{background:url(../img/social-icons/rounded/facebook_32.png);}
.rounded .google{background:url(../img/social-icons/rounded/google_32.png);}
.rounded .linkedin{background:url(../img/social-icons/rounded/linkedin_32.png);}
.rounded .twitter{background:url(../img/social-icons/rounded/twitter_32.png);}
.rounded .youtube{background:url(../img/social-icons/rounded/youtube_32.png);}